@import "tailwindcss";

/* Varsayılan (Light) */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --card: #f3f3f3;
  --text-muted: #444444;
}


body {
  background: #0a0a0a; /* sabit dark */
  color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
}
